.outborder{
  position: relative;
  margin: auto;
  border-radius: 120px;
  width: 216px;
  height: 216px;
  padding: 20px;
}

.inborder{
  display: flex;
  border-radius: 120px;
  background-color: aliceblue;
  height: -webkit-fill-available;
}
.inborder img{
  height: 70%;
  margin: auto;
}
.outborder.active{
  background-color: green;
}
.outborder.inactive{
  background-color: grey;
}
.outborder.inactive .inborder,.outborder.noconnect .inborder{
  background-color: #ffffffb5;
}
/* .outborder.inactive::before{
  background-color: black;
  content: "";
  font-size: 3em;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  left: 50%;right: 0;top:50%;bottom:0;
  transform: translate(-50%,-50%);
} */
.outborder.noconnect{
  background-color: red;
}
.text-no-wrap{
  white-space: nowrap;
}
.bg-primary, .btn-primary{
  background-color: #0061AF !important;
}
#sidebar-menu>ul>li>a.active,#sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover {
  color: #d9d200;
}

